<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css" />


<!-- profile style -->
<link href="/stylesheets/profile.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="container">
    {{!-- <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>H</span>ồ sơ
        </h3> --}}
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="{{userProfile.avatarUrl}}"
                                    id="imgProfile" style="width: 216px; height: 216px" class="img-thumbnail" />

                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><a
                                        href="javascript:void(0);">{{userProfile.firstName}} {{userProfile.lastName}} (@{{userProfile.username}})</a></h2>
                                <span class="badge badge-success"
                                    style="font-size: 1.2rem; font-weight: bold">?Blogger</span>
                                <br><br>
                                <h6 class="d-block"><a href="javascript:void(0)">?300</a> Bài Blog đã đăng tải</h6>
                                <h6 class="d-block"> Tham gia ngày {{parseDate userProfile.createdDate "/"}}</h6>
                                {{#if userProfile.phone}}
                                <h6 class="d-block"> <i class="fa fa-phone" aria-hidden="true"></i> {{userProfile.phone}}</h6>
                                {{/if}}
                                {{#if userProfile.email}}
                                <h6 class="d-block"> <i class="fa fa-envelope" aria-hidden="true"></i>
                                    {{userProfile.email}}</h6>
                                {{/if}}
                                <h6 class="d-block">
                                    <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;"><a
                                            href="https://www.facebook.com/nhoxtheanh"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a></button>
                                    <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;"><a
                                            href="https://www.instagram.com/nhoxtheanh"><i class="fa fa-instagram"
                                                aria-hidden="true"></i></a></button>
                                </h6>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo"
                                        role="tab" aria-controls="basicInfo" aria-selected="true">Các bài viết</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab"
                                        href="#connectedServices" role="tab" aria-controls="connectedServices"
                                        aria-selected="false">Món ăn yêu thích</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                    aria-labelledby="basicInfo-tab">



                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="item-inner card shadow">
                                                    <div class="item-image">
                                                        <a href="#">
                                                            <img src="https://daubepgiadinh.vn/wp-content/uploads/2018/04/bo-bit-tet-600x400.jpg"
                                                                class="responsive" />
                                                        </a>
                                                        <a href="#" class="item-favorite">
                                                            <span>3</span>
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-info-header">
                                                            <div class="item-info-title">
                                                                <a href="#">
                                                                    <h4>Bò bít tết</h4>
                                                                </a>
                                                            </div>
                                                            <div class="item-info-stats">
                                                                <ul class="item-info-stats-1">
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-clock"></i>
                                                                        <span>
                                                                            <span>7</span>
                                                                            <span>min</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-thumbs-up"></i>
                                                                        <span>
                                                                            <span>69</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <ul class="item-info-stats-2">
                                                                    <li class="stats-item stats-item-dish-type">
                                                                        <i class="fa fa-fire"></i>
                                                                        <span>
                                                                            <span>Tr miệng</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-cuisine">
                                                                        <i class="fa fa-tint"></i>
                                                                        <span>
                                                                            <span>Mexico</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-diet">
                                                                        <i class="fa fa-leaf"></i>
                                                                        <span>
                                                                            <span>LactoVeget</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-createdDate">
                                                                <span>{{parseDateTime createdDate "/"}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-info-footer">
                                                            <div class="item-rating">
                                                                <input type="hidden"
                                                                    class="starRating kv-ltr-theme-fas-star rating-loading"
                                                                    value="3" disabled data-size="xs" />
                                                            </div>
                                                            <div class="recipe-by mt-3">
                                                                <a href="/profile">
                                                                    <img src="/images/user.jpg" />
                                                                    St Recipe
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="item-inner card shadow">
                                                    <div class="item-image">
                                                        <a href="#">
                                                            <img src="https://i.ytimg.com/vi/Q5V0uEkdTPg/maxresdefault.jpg"
                                                                class="responsive" />
                                                        </a>
                                                        <a href="#" class="item-favorite">
                                                            <span>3</span>
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-info-header">
                                                            <div class="item-info-title">
                                                                <a href="#">
                                                                    <h4>Thịt kho tàu</h4>
                                                                </a>
                                                            </div>
                                                            <div class="item-info-stats">
                                                                <ul class="item-info-stats-1">
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-clock"></i>
                                                                        <span>
                                                                            <span>7</span>
                                                                            <span>min</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-thumbs-up"></i>
                                                                        <span>
                                                                            <span>69</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <ul class="item-info-stats-2">
                                                                    <li class="stats-item stats-item-dish-type">
                                                                        <i class="fa fa-fire"></i>
                                                                        <span>
                                                                            <span>Tr miệng</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-cuisine">
                                                                        <i class="fa fa-tint"></i>
                                                                        <span>
                                                                            <span>Mexico</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-diet">
                                                                        <i class="fa fa-leaf"></i>
                                                                        <span>
                                                                            <span>LactoVeget</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-createdDate">
                                                                <span>{{parseDateTime createdDate "/"}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-info-footer">
                                                            <div class="item-rating">
                                                                <input type="hidden"
                                                                    class="starRating kv-ltr-theme-fas-star rating-loading"
                                                                    value="3" disabled data-size="xs" />
                                                            </div>
                                                            <div class="recipe-by mt-3">
                                                                <a href="#">
                                                                    <img src="/images/user.jpg" />
                                                                    St Recipe
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="item-inner card shadow">
                                                    <div class="item-image">
                                                        <a href="#">
                                                            <img src="https://sites.google.com/site/baongocandfoods/_/rsrc/1493300218579/nhat/sushi/cach-an-sushi-chuyen-nghiep-nhu-nguoi-nhat_e4f82a72c5.jpg"
                                                                class="responsive" />
                                                        </a>
                                                        <a href="#" class="item-favorite">
                                                            <span>3</span>
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-info-header">
                                                            <div class="item-info-title">
                                                                <a href="#">
                                                                    <h4>Sushi</h4>
                                                                </a>
                                                            </div>
                                                            <div class="item-info-stats">
                                                                <ul class="item-info-stats-1">
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-clock"></i>
                                                                        <span>
                                                                            <span>7</span>
                                                                            <span>min</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-thumbs-up"></i>
                                                                        <span>
                                                                            <span>69</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <ul class="item-info-stats-2">
                                                                    <li class="stats-item stats-item-dish-type">
                                                                        <i class="fa fa-fire"></i>
                                                                        <span>
                                                                            <span>Tr miệng</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-cuisine">
                                                                        <i class="fa fa-tint"></i>
                                                                        <span>
                                                                            <span>Mexico</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-diet">
                                                                        <i class="fa fa-leaf"></i>
                                                                        <span>
                                                                            <span>LactoVeget</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-createdDate">
                                                                <span>{{parseDateTime createdDate "/"}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-info-footer">
                                                            <div class="item-rating">
                                                                <input type="hidden"
                                                                    class="starRating kv-ltr-theme-fas-star rating-loading"
                                                                    value="3" disabled data-size="xs" />
                                                            </div>
                                                            <div class="recipe-by mt-3">
                                                                <a href="#">
                                                                    <img src="/images/user.jpg" />
                                                                    St Recipe
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="item-inner card shadow">
                                                    <div class="item-image">
                                                        <a href="#">
                                                            <img src="/images/bakery_thumbnail.jpg"
                                                                class="responsive" />
                                                        </a>
                                                        <a href="#" class="item-favorite">
                                                            <span>3</span>
                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </div>
                                                    <div class="item-info">
                                                        <div class="item-info-header">
                                                            <div class="item-info-title">
                                                                <a href="#">
                                                                    <h4>Bánh chocolate</h4>
                                                                </a>
                                                            </div>
                                                            <div class="item-info-stats">
                                                                <ul class="item-info-stats-1">
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-clock"></i>
                                                                        <span>
                                                                            <span>7</span>
                                                                            <span>min</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item">
                                                                        <i class="fa fa-thumbs-up"></i>
                                                                        <span>
                                                                            <span>69</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <ul class="item-info-stats-2">
                                                                    <li class="stats-item stats-item-dish-type">
                                                                        <i class="fa fa-fire"></i>
                                                                        <span>
                                                                            <span>Tr miệng</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-cuisine">
                                                                        <i class="fa fa-tint"></i>
                                                                        <span>
                                                                            <span>Mexico</span>
                                                                        </span>
                                                                    </li>
                                                                    <li class="stats-item stats-item-diet">
                                                                        <i class="fa fa-leaf"></i>
                                                                        <span>
                                                                            <span>LactoVeget</span>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="item-info-createdDate">
                                                                <span>{{parseDateTime createdDate "/"}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="item-info-footer">
                                                            <div class="item-rating">
                                                                <input type="hidden"
                                                                    class="starRating kv-ltr-theme-fas-star rating-loading"
                                                                    value="3" disabled data-size="xs" />
                                                            </div>
                                                            <div class="recipe-by mt-3">
                                                                <a href="#">
                                                                    <img src="/images/user.jpg" />
                                                                    St Recipe
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                      

                                      
                                    </div>
                                </div>



                                <div class="tab-pane fade" id="connectedServices" role="tabpanel"
                                    aria-labelledby="ConnectedServices-tab">
                                    <div>Danh sách món ăn yêu thích</div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>